.Button{
    border : none;
    padding : 20px;
    border-radius: 5px;
    color : white;

    //& : 현재요소를 선택
    //<요소 class="클래스명1 클래스명2"
    &.navy{
        background-color: navy;
    }
    &.red{
        background-color: red;
    }
    &.green{
        background-color: green;
    }
    &.large{
        font-size: 32px;
    }
    &.medium{
        font-size: 24px;
    }
    &.small{
        font-size: 16px;
    }
}